/* base */
body {
  background-image: url('https://glungtung.gitlab.io/img/geometry2.png');
}

/* anchors */
a,
a:visited {
  color: rgb(0, 0, 238);
  background-image: none;
  text-decoration: underline;
}

/* navbar */
nav a,
nav a:visited {
  color: #41403e;
  text-decoration: none;
}

/* blockquote */
blockquote {
  font-style: italic;
}

/* post list */
.post-list {
  font-size: 2em; 
}
.summary {
  margin-bottom: 0.1em; 
}

/* post single */
.post-title {
  margin-bottom: 0.1em; 
}

/* toc */
.toc {
  padding: 1em;
  margin-top: 1em;
}
.toc h2 {
  font-size: 1.3em;
}