<nav class="border split-nav">
  <div class="nav-brand">
    <h3><a href="{{ .Site.BaseURL | default "/" }}">{{ .Site.Title }}</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1">
    <button>
    <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </button>
    <div class="collapsible-body">
      <ul class="inline">
      {{ range .Site.Menus.nav }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      </ul>
    </div>
  </div>
</nav>